

.App{
    display: flex;
    padding: 20px;
}

.component-left{
    width: 10%;
}


.component-right{
    width: 90%;
}


.horizontal {
    display: flex;
}

input{
    border:0;
    padding:5px;
    border:solid 1px #ccc;
    margin: 10px;
    width: 150px;
}

button{
    border:0;
    padding:5px;
    border:solid 1px #ccc;
    margin: 10px;
}

tr{
    border-bottom: solid 1px #ccc;
}

td{
    width: 125px;
}

th.flex{
    width:800px;
}

table{
    margin-left: 14px;
    margin-top: 14px;
    border: solid 1px #ccc;
    text-align: center;
    border-collapse: collapse; 
}

.modal {
    /* display: none;*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .mode-select{
      position: absolute;
      bottom: 25px;
      left: 25px;
      
  }

@media only screen and (max-width: 1200px){
    .sp-none{
        display: none;
    }

    .component-right{
        width: 50%;
        margin: auto;
    }
}

