

.App{
    display: flex;
    padding: 20px;
}

.component-left{
    width: 10%;
}


.component-right{
    width: 90%;
}


.horizontal {
    display: flex;
}

input{
    border:0;
    padding:5px;
    border:solid 1px #ccc;
    margin: 10px;
    width: 150px;
}

button{
    border:0;
    padding:5px;
    border:solid 1px #ccc;
    margin: 10px;
}